section.our-products

  .container


    .title Наша продукция

    .our-products__items

      -
        var obj = [
          {
            name: 'СЕТЧАТЫЕ ОГРАЖДЕНИЯ',
            items: ['3D-забор для ограждения участка', '3D-ограждения для спортивной площадки', '3D-ограждения для промышленных объектов', '3D-ограждения для города', 'Временные сетчатые ограждения'],
            direct: 's'
          },
          {
            name: 'ОГРАЖДЕНИЯ ИЗ ПРОФНАСТИЛА',
            items: ['Сплошной забор из профнастила', 'Комбинированный забор из профнастила и кирпича', 'Комбинированный забор из профнастила и бессера', 'Секционное ограждение Premium'],
            direct: 'prof'
          },
          {
            name: 'Ограждения из евроштакетника',
            items: ['Забор из одностороннего евроштакетника ', 'Забор из двухстороннего евроштакетника ', 'Забор из евроштакетника "Шахматка"'],
            direct: 'euro'
          },
          {
            name: 'Ограждения из профильной трубы',
            items: ['Секционные ограждения из профильной трубы', 'Спортивные ограждения из профильной трубы', 'Газонные ограждения из профильной трубы', 'Временные ограждения из профильной трубы', 'Декоративное ограждение из профильной трубы'],
            direct: 'prof-tube'
          },
          {
            name: 'Оригинальные ограждения',
            items: ['Металлические заборы-жалюзи', 'Секционное ограждение Premium', 'Декоративное ограждение из профильной трубы'],
            direct: 'original'
          },
          {
            name: 'ДРУГИЕ ОГРАЖДЕНИЯ',
            items: ['Деревянные заборы', 'Кованные заборы', 'Заборы из сетки-рабицы', 'Секционное ограждение Protect'],
            direct: 'other'
          }
        ]

      each item, idx in obj
        .our-products__item

          .our-products__triangle

          .our-products__img
            img(src=`assets/img/products/i${idx+1}.png`, alt=`${item.name}`)

          .our-products__block
          
            .our-products__title!= item.name

            .our-products__icons

              each icon, index in item.items

                a(href="#").our-products__icon

                  .our-products__icon-img
                    img(src=`assets/img/products/${item.direct}/icon-${index+1}.svg`, alt="#")

                  .our-products__icon-title!= icon